<?xml version="1.0"?>
<launch>

  <!-- MOTOR DRIVER -->
  <include file="$(find platypous_launch)/launch/motor_driver.launch" />
  
  
  <!-- JOYSTICK TELEOP -->
  <include file="$(find platypous_launch)/launch/joy_teleop.launch" />
  
  
  <!-- LOCALIZATION -->
  <node name="ekf_localization" ns="localization" pkg="robot_localization" type="ekf_localization_node" clear_params="true" respawn="true">
    <rosparam command="load" file="$(find platypous_launch)/params/localization.yaml" />
  </node>

<!--
  <node name="eeg_node" pkg="eeg_node" type="eeg_node.py" respawn="true" respawn_delay="10"/>
-->
  
  
  <!-- STATUS PUBLISHER -->
  <include file="$(find platypous_launch)/launch/status.launch" />

</launch>
