<?xml version="1.0"?>
<launch>

  <!-- MOTOR DRIVER -->
  <include file="$(find platypous_launch)/launch/motor_driver.launch" />
  
  
  <!-- JOYSTICK TELEOP -->
  <include file="$(find platypous_launch)/launch/joy_teleop.launch" />
  

<!--
  <node name="eeg_node" pkg="eeg_node" type="eeg_node.py" respawn="true" respawn_delay="10"/>
-->
  
  
  <!-- STATUS PUBLISHER -->
  <include file="$(find platypous_launch)/launch/status.launch" />

</launch>
