<?xml version="1.0"?>
<launch>

  <!-- REALSENSE NODE -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_accel"     value="true" /> 
    <arg name="enable_gyro"      value="true" /> 
    <arg name="align_depth"      value="true" /> 
    <arg name="device_type"      value="d455" /> 
    <arg name="filters"          value="pointcloud" />
    <arg name="unite_imu_method" value="copy" />
  </include>
  
  <!-- IMU MADGWICK FILTER -->
  <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node">
    <remap from="imu/data_raw" to="/camera/imu" />
    <remap from="imu/data"     to="/imu/data" />
    
    <param name="use_mag"    value="false" />
    <param name="publish_tf" value="false" />
  </node>

</launch>
