<?xml version="1.0"?>
<launch>

  <!-- BASIC -->
  <include file="$(find platypous_launch)/launch/basic.launch" />
  
  
  <!-- GMAPPING -->
  <include file="$(find platypous_launch)/launch/gmapping.launch" />
  
  
  <!-- NAVIGATION -->
  <include file="$(find platypous_launch)/launch/navigation.launch" />
  
  
  <!-- RTABMAP -->
<!--
  <include file="$(find platypous_launch)/launch/rtabmap_odom.launch" />
-->
  
</launch>
