<?xml version="1.0"?>
<launch>  

  <node name="gmapping" pkg="gmapping" type="slam_gmapping" respawn="true">
    <rosparam file="$(find platypous_launch)/params/gmapping.yaml" command="load" />
    <remap from="scan" to="/scan" />
  </node>
  
  <node name="map_to_image" pkg="platypous_status" type="map_to_image" />

</launch>
