<?xml version="1.0"?>
<launch>

  <arg name="dev" default="/dev/input/js0" />


  <!-- JOYSTICK DRIVER -->
  <node name="joystick" ns="joy_teleop" pkg="joy" type="joy_node" clear_params="true" respawn="true">
    <rosparam command="load" file="$(find platypous_launch)/params/joystick.yaml" />
    <param name="dev" value="$(arg dev)" />
  </node>


  <!-- JOY TELEOP -->
  <node name="joy_teleop" ns="joy_teleop" pkg="teleop_twist_joy" type="teleop_node" clear_params="true" respawn="true">
    <rosparam command="load" file="$(find platypous_launch)/params/joy_teleop.yaml" />
    <remap from="cmd_vel" to="/cmd_vel/joy_teleop" />
  </node>

</launch>
