<?xml version="1.0"?>
<launch>

  <arg name="dev" default="/dev/input/js0" />


  <!-- JOYSTICK DRIVER -->
  <node name="joystick" ns="joy_teleop" pkg="joy" type="joy_node" clear_params="true" respawn="true">
    <param name="dev"               value="$(arg dev)" />
    <param name="deadzone"          value="0.05" />
    <param name="coalesce_interval" value="0.05" />
    <param name="autorepeat_rate"   value="20" />
  </node>


  <!-- JOY TELEOP -->
  <node name="joy_teleop" ns="joy_teleop" pkg="teleop_twist_joy" type="teleop_node" clear_params="true" respawn="true">
    <remap from="cmd_vel" to="/cmd_vel/joy_teleop" />
    
    <param name="axis_linear"         value="1" />
    <param name="scale_linear"        value="0.7" />
    <param name="scale_linear_turbo"  value="1.5" />
    <param name="axis_angular"        value="3" />
    <param name="scale_angular"       value="1.2" />
    <param name="scale_angular_turbo" value="2.0" />
    <param name="enable_button"       value="5" />
    <param name="enable_turbo_button" value="4" />
  </node>

</launch>
