<?xml version="1.0"?>
<launch>

  <!-- ROBOT STATE PUBLISHER -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find platypous_gazebo)/urdf/platypous.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  
  <!-- MOTOR DRIVER -->
  <include file="$(find platypous_launch)/launch/motor_driver.launch" />
  
  
  <!-- JOYSTICK TELEOP -->
  <include file="$(find platypous_launch)/launch/joystick_teleop.launch" />
  

<!--
  <node name="eeg_node" pkg="eeg_node" type="eeg_node.py" respawn="true" respawn_delay="10"/>
-->
  
  
  <!-- LIDAR -->
  <include file="$(find platypous_launch)/launch/lidar.launch" />
  
  
  <!-- CAMERA -->
  <include file="$(find platypous_launch)/launch/camera_d455.launch" />
  
  
  <!-- STATUS PUBLISHER -->
  <include file="$(find platypous_launch)/launch/status.launch" />

</launch>
