<?xml version="1.0"?>
<launch>

  <!-- ROBOT STATE PUBLISHER -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find platypous_gazebo)/urdf/platypous.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  
  <!-- MOTOR DRIVER -->
  <include file="$(find platypous_launch)/launch/motor_driver.launch" />
  
  
  <!-- STATUS PUBLISHER -->
  <include file="$(find platypous_launch)/launch/status.launch" />


  <!-- SYSTEM CONTROL -->
  <include file="$(find platypous_launch)/launch/system_control.launch" />


  <!-- ROSBRIDGE -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

</launch>
