<?xml version="1.0"?>
<launch>

  <node pkg="odrive_node" type="odrive_node.py" name="odrive_node" ns="odrive_node" clear_params="true" output="screen">
    <rosparam command="load" file="$(find odrive_node)/params/odrive_node_params.yaml" />
  </node>
  
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.0" />
    <param name="coalesce_interval" value="0.1" /> 
    <param name="autorepeat_rate" value="10" />
  </node>
  
  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <param name="axis_linear" value="1" />
    <param name="scale_linear" value="1.0" />
    <param name="axis_angular" value="3" />
    <param name="scale_angular" value="1.0" />
    <param name="enable_button" value="5" />
  </node>

</launch>
