<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true" />
  
  <!-- LAUNCH GAZEBO -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen" args="-e ode $(find platypous_gazebo)/worlds/office.world" />

  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" output="screen" />

  <!-- SPAWN ROBOT -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find platypous_gazebo)/urdf/platypous.xacro'" />
  <node name="robot_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model platypous -param robot_description"/>

  <!-- ROBOT STATE PUBLISHER -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- STATIC TRANSFORMS -->
  <node name="camera_to_optical" ns="static_tf" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 -1.57 0 -1.57 camera_link camera_optical_frame" />

  <!-- LOCALIZATION -->
  <node name="ekf_localization" ns="localization" pkg="robot_localization" type="ekf_localization_node" clear_params="true" respawn="true">
    <rosparam command="load" file="$(find platypous_gazebo)/params/localization.yaml" />
  </node>

  <!-- GMAPPING -->
  <node name="gmapping" pkg="gmapping" type="slam_gmapping">
    <remap from="scan" to="/laser/scan" />
    <param name="map_update_interval" value="1.0" />
  </node>

</launch>
